{{
{
'global': {
  'scrape_interval': prom_scrape_interval,
  'external_labels': prom_global_labels }
} | to_nice_yaml
}}

{{ {'scrape_configs': prom_windows_scrape_config + prom_extra_scrape_configs} | to_nice_yaml }}

{{
{
'remote_write': [{
    'url': prom_remote_write_url,
    'bearer_token': prom_remote_write_token }]
} | to_nice_yaml
}}